.header {
	background-color: #d3d3d3;
	padding: 5px;
	text-align: center;
	color: white;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 80px);
	grid-template-rows: repeat(18, 40px);
	background-color: #f3f3f3;
	width: 480px;
	height: 720px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}

.grid-item {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}

.empty-item {
	background-color: #f3f3f3;
}

.score {
	border-radius: 5px;
	background-color: rgb(176, 196, 222);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding-top: 6px;
}

.score-final {
	border-radius: 5px;
	background-color: rgb(176, 196, 222);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 25px;
	text-align: center;
	grid-column-start: 5;
	grid-column-end: 7;
	font-weight: bold;
	padding-top: 6px;
}

.label-gray {
	border-radius: 5px;
	background-color: rgb(176, 196, 222);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 20px;
	text-align: center;
	font-size: 20px;
	padding-top: 6px;
}

.label-white {
	border-radius: 5px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 18px;
	padding-top: 6px;
}

.image {
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	text-align: center;
	border-radius: 5px;
}

.button-container {
	text-align: center;
	padding: 10px;
}

.button {
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(176, 196, 222);
	border: 1px solid rgba(0, 0, 0, 0.8);
	font-size: 20px;
	text-align: center;
	width: 170px;
}

.dice-button {
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	padding-bottom: 8px;
	cursor: pointer;
}

.label-ann {
	border-radius: 5px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 18px;
	padding-top: 6px;
}

@media screen and ( max-width : 530px) {
	.header {
		padding: 1px;
	}
	.button-container {
		padding: 1px;
	}
	.grid-container {
		width: 100%;
		grid-template-columns: repeat(6, 16.666%);
		padding: 1px;
		height: 90vh;
		grid-template-rows: repeat(18, 5.15%);
	}
	.dice-button {
		padding: 5px;
		padding-bottom: 3px;
	}
	.button {
		width: 60%;
		font-size: 20px;
	}
	.grid-item {
		font-size: 18px;
	}
	.label-gray {
		font-size: 15px;
	}
	.label-white {
		font-size: 15px;
	}
	.label-ann {
		font-size: 12px;
		padding-top: 3px;
	}
	.score {
		font-size: 18px;
		padding-top: 12%;
		padding-bottom: 0px;
	}
	.score-final {
		font-size: 25px;
		padding-top: 2%;
	}
	.image {
		width: 96%;
		height: 96%;
	}
}