<!DOCTYPE html>

<html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

<head>
<link rel="stylesheet" type="text/css" href="../static/Game.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/Game.js"></script>
</head>

<header class="header">
	<button class="dice-button" id="dice1" onClick="reply_click(this.id)"></button>
	<button class="dice-button" id="dice2" onClick="reply_click(this.id)"></button>
	<button class="dice-button" id="dice3" onClick="reply_click(this.id)"></button>
	<button class="dice-button" id="dice4" onClick="reply_click(this.id)"></button>
	<button class="dice-button" id="dice5" onClick="reply_click(this.id)"></button>
</header>

<div class="button-container">
	<button class="button" id="roll-dice" onClick="roll_dice(0)">BACI KOCKE</button>
	<button class="button" id="announce">NAJAVI</button>
</div>

<div class="grid-container">
	<div class="empty-item"></div>
	<div class="label-icon"><img src="../static/images/box/7.bmp"></div>
	<div class="label-icon"><img src="../static/images/box/8.bmp"></div>
	<div class="label-icon"><img src="../static/images/box/9.bmp"></div>
	<div class="label-white">NAJAVA</div>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/1.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/2.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/3.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/4.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/5.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-icon"><img src="../static/images/box/6.bmp"></div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="label-white">max</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">min</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="label-white">TRIS</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">SKALA</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">FULL</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">POKER</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">JAMB</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">SUM</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="final-score"></div>
</div>
</html>
