<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/game.css">
<script src="../static/game.js"></script>
</head>

<header>
	<button class="dice-button"></button>
	<button class="dice-button"></button>
	<button class="dice-button"></button>
	<button class="dice-button"></button>
	<button class="dice-button"></button>
</header>

<div class="button-container">
	<button class="button" id="roll-dice">BACI KOCKE</button>
	<button class="button" id="announce">NAJAVI</button>
</div>


<div class="grid-container">
	<div class="empty-item"></div>
	<div class="label-white">down</div>
	<div class="label-white">up</div>
	<div class="label-white">any</div>
	<div class="label-white">ann</div>
	<div class="empty-item"></div>

	<div class="label-white">1</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">2</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">3</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">4</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">5</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">6</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">Σ</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="label-white">max</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">min</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">Σ</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="label-white">TRIS</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">SKALA</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">FULL</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">POKER</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-white">JAMB</div>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<button class="grid-item"></button>
	<div class="empty-item"></div>

	<div class="label-gray">Σ</div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>
	<div class="score"></div>

	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="empty-item"></div>
	<div class="final-score"></div>
</div>



</asside>
</html>
